body {
    width:1920px;
    margin:0 auto;}
  
   @media ( min-width:1900px ) {
    body {
      overflow-x:hidden;
      
    }
  }
  .frame-3{
     background-color:rgb(78,99,245);
    height:1280px;
  }
  .section-5{
    background-color:rgb(230,232,248);
    top:130px;
  }
  nav{
    top:95.6%;
    width:100%;
    height:100px;
     background-color:rgb(78,99,245);
  }
  https://www.designnas.com/portfolio/ux_flow/voar/index.html
  https://www.designnas.com/portfolio/ux_flow/lahanhotels/index.html
  https://www.designnas.com/portfolio/ux_flow/thenorthfacekorea/index.html
  https://www.designnas.com/portfolio/ux_flow/nike/index.html
  http://www.xn--289a90wpc693bbiu.kr/sub/auction01.html